{{#first_row}}
    {{#first_image}}
        <div class="current-image"><a href="{{image_src}}/images/{{image_name}}"><img src="{{image_src}}/images/medium/{{image_name}}" title="{{title}}" /></a></div>
    {{/first_image}}
    <ul class="other-images jcarousel-skin-tango">
{{/first_row}}
<li>
    <a href="{{image_src}}/images/{{image_name}}">
        <img src="{{image_src}}/images/thumbnail/{{image_name}}" title="{{title}}" />
        {{#show_title}}<br />{{species}}{{/show_title}}
    </a>
</li>
