#status {
  clear: right;
}

#map {
  float: left;
  height: 500px;
  width: 500px;
}

#species, #filters {
  float: left;
  height: 500px;
  max-height: 500px;
  overflow: auto;
}

.selected {
  background-color: #cccccc;
  font-weight: bold;
}
