#status {
  clear: right;
}

#map {
  float: left;
  height: 500px;
  width: 500px;
}

#species, #filters {
  float: left;
  height: 500px;
  max-height: 500px;
  overflow: auto;
}

#filters {
  display: none;
}

.selected {
  background-color: #cccccc;
  font-weight: bold;
}

form {
  margin-bottom: 0px;
}

#filters ul {
  padding-left: 2em;
}

#filters li {
  padding: 0.1em 0.3em;
}

.help {
  font-size: 80%;
}

.info {
  font-size: 80%;
  width: 300px;
}

.info h2 {
  background-color: #ffffff;
  border-bottom: 1px solid #cccccc;
  font-size: 90%;
  font-weight: bold;
  padding-bottom: 0.2em;
}

.info tr td {
  padding-left: 0.5em;
}

.info tr td:first-child {
  background: #ffffcc;
  font-weight: bold;
  max-width: 100px;
}

.info ul {
  background-color: #ffffff;
  font-weight: normal;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.info ul li {
  margin: 0;
  padding: 0;
}

.collections tr td {
  background-color: #ffffff;
}

input.label-highlight {
  color: #cccccc;
}