{% load cache cms_tags menu_tags %}

<!DOCTYPE html>
<html lang="en" style=""><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>{% block title %}{% page_attribute page_title %}{% endblock %} | PNW Moths</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	{% block stylesheets %}
	<!-- 1140px Grid styles for IE -->
	<!--[if lte IE 9]><link rel="stylesheet" href="{% if MEDIA_URL %}{{ MEDIA_URL }}{% else %}http://pnwmoths.biol.wwu.edu/media/{% endif %}css/ie.css" type="text/css" media="screen" /><![endif]-->

	<!-- The 1140px Grid - http://cssgrid.net/ -->
	<link rel="stylesheet" href="{% if MEDIA_URL %}{{ MEDIA_URL }}{% else %}http://pnwmoths.biol.wwu.edu/media/{% endif %}css/1140.css" type="text/css" media="screen">
	
	<!-- Your styles -->
    <link rel="stylesheet" href="{% if MEDIA_URL %}{{ MEDIA_URL }}{% else %}http://pnwmoths.biol.wwu.edu/media/{% endif %}css/base.css" type="text/css">
    <link rel="stylesheet" href="{% if MEDIA_URL %}{{ MEDIA_URL }}{% else %}http://pnwmoths.biol.wwu.edu/media/{% endif %}css/styles.css" type="text/css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}breadcrumbs/style.css" type="text/css">
    {% endblock %}

    {{ meta_headers }}
</head>

<body>
<div id="header" class="container">
	<div class="row">
		<div id="title" class="twelvecol last">
            <a href="{% page_id_url "index" %}" style="float: left; margin-left: 10px; margin-top: 10px;"><img src="{{ MEDIA_URL }}images/header.png" alt="Pacific Northwest Moths" /></a>
			<form method="get" action="/search/">
                <input style="float: right; margin-top: 15px; margin-right: 10px;" type="submit" value="Search">
                <input style="float: right; margin-top: 17px; margin-right: 8px;" type="text" name="q" size="20">
            </form>
		</div>
	</div>
	<div class="row">
		<div id="mainnav" class="twelvecol last">
			<ul>
				<li><a href="/" class="first">Home</a></li>
				<li><a href="/browse/">Browse Taxonomic List</a></li>
				<li><a href="/image-plates/">Explore Images</a></li>
				<li><a href="/identify/">Identify a Moth</a></li>
				<li><a href="/about-moths/">About Moths</a></li>
				<li><a href="/moth-collecting-photography/">Moth Collecting & Photography</a></li>
				<li><a href="/faqs/">FAQs</a></li>
			</ul>
        </div>
	</div>
    <div class="row">
        <div class="twelvecol last">
            {% block breadcrumbs %}
                {% cache 0 breadcrumbs request.path_info %}
                <ul id="breadcrumbs">{% show_breadcrumb 1 %}</ul>
                {% endcache %}
                <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}breadcrumbs/script.js"></script>
            {% endblock %}
        </div>
    </div>
</div>

<div id="body" class="container">
      {% block messages %}
          {% if messages %}
              <ul class="messages">
              {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
              </ul>
          {% endif %}
      {% endblock %}

      {% block content %}
          {% placeholder "content" %}
      {% endblock %}
</div>

<div id="footer" class="container">
	<div id="footnavhead" class="row">
		<div class="threecol first"><h5>Explore Data</h5>
        	<ul>
				<li><a href="/browse/">Taxonomic List</a></li>
				<li><a href="/image-plates/">Explore Images</a></li>
				<li><a href="/identify/">Identify a Moth</a></li>
			</ul>        
        </div>
		<div class="threecol"><h5>About Moths</h5>
			<ul>
                {% cache 0 about_moths_submenu %}
                {% show_menu_below_id "about-moths" 0 100 100 100 %}
                {% endcache %}
			</ul>	
        </div>
		<div class="threecol"><h5>About Us</h5>
            <ul>
            {% cache 0 about_us_submenu %}
            {% show_menu_below_id "about-us" 0 100 100 100 %}
            {% endcache %}
            </ul>
        </div>
		<div class="threecol last"><h5>Related Sites</h5>
			<ul>
				<li><a href="http://www.butterfliesandmoths.org/">Butterflies and Moths of North America</a></li>
				<li><a href="http://www.cbif.gc.ca/spp_pages/pdfs/index_e.php">Moths of Canada</a></li>
			</ul>	
        </div>
	</div>
	<div class="row">
		<div id="credits" class="twelvecol last">
        <ul>           
            <li><a href="http://github.com/huddlej/pnwmoths/issues">Issues</a></li>
            <li><a href="/admin/">Site Admin</a></li>
            <li><a href="/accounts/logout/">Logout</a></li>
        </ul>
		<ul>
			<li>TODO: Institution Logos<li>
        </ul>
        </div>
    </div>
</div>

{% block scripts %}
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js/responsive.navigation.js"></script>
{% endblock %}
</body>
</html>
