{% extends "cms/base.html" %}
{% load cms_tags menu_tags %}

{% block scripts %}
{{ block.super }}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.microsoft.com/ajax/jquery.ui/1.8.5/jquery-ui.min.js" type="text/javascript"></script>

<!--[if IE]><script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}browse_tree/excanvas.js"></script><![endif]-->

<!-- JIT Library File -->
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}browse_tree/js/thejit.js"></script>

<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}browse_tree/script.js"></script>
{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/themes/cupertino/jquery-ui.css" type="text/css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}browse_tree/css/thejit.css" type="text/css">
<link rel="stylesheet" href="{{ MEDIA_URL }}browse_tree/thejit_spacetree.css" type="text/css">
{% endblock %}


{% block content %}
{% placeholder "before menu" %}

<div class="no-js" id="no-js_spacetree">
{% show_sub_menu %}
</div>

<div class="jit jit-spacetree">
		<div class="jit-controls">
			<div class="jit-control jit-home" title="Home"></div>
			<div class="jit-control jit-back" title="Back"></div>
			<div class="jit-control jit-full" title="Fullscreen"></div>
      <div class="jit-control jit-search spacetree-search" title="Search"></div>
      <div class="spacetree-search-form">
      	<label for="nodes">Search: </label>
        <input id="nodes" />
      </div>
		</div>
	<div class="spacetree-wrapper">
		
		<div id="browse_spacetree" class="spacetree" style="height: 680px">
				<div class='jit-node-info'>
					<div class='header'><div class='title'></div><div class='closer'></div></div>
					<div class='content'></div>
				</div>
		</div>
	</div>
</div>

<script type="text/javascript">
var TAX_MENU = {
"id" : "root",
"name" : "root",
"children" : [
{% show_sub_menu 1000 "menu/tax_data.html" %}
],
};

var FLAT_TAX_MENU = [{name:"root",id:"root"},{% show_sub_menu 1000 "menu/flat_search_data.html" %}];

jQuery("#no-js_spacetree").empty();

    function getObjects(obj, key, val) {
    var objects = [];
    for (var i in obj) {
        if (!obj.hasOwnProperty(i)) continue;
        if (typeof obj[i] == 'object') {
            objects = objects.concat(getObjects(obj[i], key, val));
        } else if (i == key && obj[key] == val) {
            objects.push(obj);
        }
    }
    return objects;
    }
jQuery(document).ready(function () {
		if (! window.thejit_spacetree) {
			window.thejit_spacetree = {};
		}
		if (! window.thejit_spacetree['browse_spacetree']) {
			window.thejit_spacetree['browse_spacetree'] = new PNWMOTHS.spacetree({ "id": "browse_spacetree", "levelDistance": 120, "Node": {type: 'expanding',overridable: true,width: 90,align: 'center'}, "siblingOffset": 50, "height": 680, "duration": 150, "levels_to_show": 2, "init_orient": "left", "selected_node": "root", "enable_orient": 0, "enable_full_screen": 1, "enable_search": 1, "enable_node_info": 1, "cache_node_info": 0, "edge_color": "#000000", "selected_edge_color": "#FFFFFF"});

							window.thejit_spacetree['browse_spacetree'].st.config.onBeforeCompute = function(node) {};
						
							window.thejit_spacetree['browse_spacetree'].st.config.onAfterCompute = function() {};
					
							window.thejit_spacetree['browse_spacetree'].st.config.onCreateLabel = function (label, node) {
	var lbl = jQuery(label);
	lbl.bind('click.spacetree', function() {
			var tx = window.thejit_spacetree['browse_spacetree'].st.canvas.translateOffsetX,
					ty = window.thejit_spacetree['browse_spacetree'].st.canvas.translateOffsetY,
					m = {enable: true, offsetX: tx, offsetY: ty};
			if (window.thejit_spacetree['browse_spacetree'].st.config.orientation == 'bottom' || window.thejit_spacetree['browse_spacetree'].st.config.orientation == 'top') {
				var nh = node.getData('height'),
						ld = window.thejit_spacetree['browse_spacetree'].st.config.levelDistance,
						lh = nh + ld,
						lts = window.thejit_spacetree['browse_spacetree'].st.config.levelsToShow,
						vh = lh * lts + nh;
				
				var adj = -24;
				var levels = node._depth;
				node.eachLevel(1, lts, function(n) {
					levels = n._depth > levels ? n._depth : levels;
					});
				levels = levels - node._depth;
				adj -= vh / 2;
				if (levels == 0) {
					adj += ld;
				} else if (levels == lts) {
					if (node._depth == 0) {
						adj = -adj - ld;
					} else {
						adj = -adj - lh;
					}
				} else {
					adj += levels * lh + nh;
				}
				
				if (window.thejit_spacetree['browse_spacetree'].st.config.orientation == 'bottom') {
					m.offsetY -= adj;
				} else {
					m.offsetY += adj;
				}
			}
			m.offsetX += window.thejit_spacetree['browse_spacetree'].settings.offsetX;
			m.offsetY += window.thejit_spacetree['browse_spacetree'].settings.offsetY;
			window.thejit_spacetree['browse_spacetree'].jitctxt.find('.selected').removeClass('selected');
			lbl.addClass('selected');
			window.thejit_spacetree['browse_spacetree'].st.onClick(node.id, { Move: m });
			if (window.thejit_spacetree['browse_spacetree'].settings['enable_node_info']) {
				window.thejit_spacetree['browse_spacetree'].getNodeInfo(node,
					function() {
						window.thejit_spacetree['browse_spacetree'].moveNodeInfo(function() {
							window.thejit_spacetree['browse_spacetree'].fadeNodeInfo(1.0);
						});
					});
			}
		});
    var d = getObjects(FLAT_TAX_MENU, 'id', node.id)[0];
  var micro = '';
  if(d.hasOwnProperty('micro_img')) {
    micro = '<img src="'+d.micro_img+'" class="micro_img" /><br />';
  }

  lbl.width(node.getData('width')).html(micro+node.name);
  
  if (node.data.active && node.data.active === "0") {
		lbl.addClass('inactive');
	}
	
	var scratch = jQuery('#jit__spacetree__scratch__');
	var testLbl = jQuery('#jit__spacetree__scratch__lbl__');

	// set current classes
	scratch.attr('class', window.thejit_spacetree['browse_spacetree'].jitctxt.attr('class'));
	testLbl.attr('class', 'node').attr('style', '');
	if (jQuery('#' + node.id).hasClass('selected')) {
		testLbl.addClass('selected');
	}
	
	// try to cause line wrap
	/*testLbl.width(node.getData('width')).html(node.name);
	var h = testLbl.height();
	if (h > node.getData('height')) {
		node.data.$height = h;
		lbl.height(h);
	}*/
};
					
							window.thejit_spacetree['browse_spacetree'].st.config.onPlaceLabel = function(domElement, node) {};
					
							window.thejit_spacetree['browse_spacetree'].st.config.onComplete = function() {};
					
							window.thejit_spacetree['browse_spacetree'].st.config.onBeforePlotLine = function(adj){
	if (adj.nodeFrom.selected && adj.nodeTo.selected) {
		adj.data.$color = window.thejit_spacetree['browse_spacetree'].settings['selected_edge_color'];
		adj.data.$lineWidth = 4;
	}
	else {
		delete adj.data.$color;
		delete adj.data.$lineWidth;
	}
};
					
							window.thejit_spacetree['browse_spacetree'].st.config.onAfterPlotLine = function(adj) {};
					
							window.thejit_spacetree['browse_spacetree'].st.config.onBeforePlotNode = function(node) {
	node.data.unexpanded = false;
	if (!node.anySubnode('exist')) {
		var c = 0;
		node.eachSubnode(function(n) { c++; });
		if (c > 0) {
			node.data.unexpanded = true;
		}
	}
};
					
							window.thejit_spacetree['browse_spacetree'].st.config.onAfterPlotNode = function(node) {};
					
							window.thejit_spacetree['browse_spacetree'].st.config.request = false;
						

				//window.thejit_spacetree['browse_spacetree'].render(json);
				window.thejit_spacetree['browse_spacetree'].render(TAX_MENU);
        //window.thejit_spacetree['browse_spacetree'].st.onClick(window.thejit_spacetree['browse_spacetree'].st.root); 
		}
	});
</script>

<!-- <div xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/" about="http://paularmstrongdesigns.com/projects/bwpx-icns/viewall/index.php"><span property="dct:title">bwpx.icns</span> (<a rel="cc:attributionURL" property="cc:attributionName" href="http://paularmstrongdesigns.com">Paul Armstrong</a>) / <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/">CC BY-SA 3.0</a></div> -->
{% placeholder "after menu" %}
{% endblock %}
