{% extends "cms/base.html" %}
{% load factsheet_filters cache cms_tags species_tags thumbnail %}


{% block scripts %}
{{ block.super }}
<script type="text/javascript">
// Hack to redraw the wymeditor iframe on Safari
if (navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1) {
  setInterval(function(){
    var i = document.getElementById('nyroModalIframe');
    if(i != null) {
      i.style.display = 'block'; 
      i.offsetHeight;
      i.style.display = 'inline-block';
   }
  }, 100);
}
</script>
<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js_ext/excanvas.min.js"></script><![endif]-->
<script language="javascript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.js"></script>

<script type="text/javascript" src="{{ MEDIA_URL }}zoomify/ZoomifyImageViewer.js"></script>

<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js_ext/jquery.jqplot.min.js"></script>
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js_ext/jqplot.barRenderer.min.js"></script>
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js_ext/jqplot.canvasTextRenderer.min.js"></script>
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js_ext/jqplot.canvasAxisLabelRenderer.min.js"></script>
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js_ext/jqplot.categoryAxisRenderer.min.js"></script>

<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js_ext/jquery.colorbox-min.js"></script>

<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js_ext/jquery.multiselect.js"></script>
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js_ext/jquery.multiselect.filter.js"></script>
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js_ext/jquery.rangesliders.js"></script>

<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js_ext/jquery.tipTip.minified.js"></script>
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js_ext/jquery.elastislide.js"></script>


<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js_ext/FastMarkerOverlay.js " type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js_ext/infobubble.js" type="text/javascript"></script>

<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}fs_map/script.js"></script>
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}fs_chart/script.js"></script>
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}fs_similar_species/script.js"></script>
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}fs_slideshow/script.js"></script>
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}data/script.js"></script>

<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js_ext/jquery.highlight.js"></script>
<script language="javascript" type="text/javascript">
    (function($){
         var glossaryWords = {{ ""|glossary_words_json|safe }};
         for (var i = 0; i < glossaryWords.length; i++) {
             var classN = "glossary-" + glossaryWords[i]["id"]
             $('#fs_content p').highlight(glossaryWords[i]["word"], { element: "a", className: classN, wordsOnly: true });
             $("."+classN).attr({ href: '/about-moths/glossary/#'+glossaryWords[i]["id"], title: glossaryWords[i]["definition"]});
             $("."+classN).tipTip();
         }
         $("a a").contents().unwrap();
     })(jQuery);
</script>

{% endblock %}

{% block stylesheets %}
{{ block.super }}
{% species_by_name current_page.get_title as species %}
  <!--
  <PageMap>
     <DataObject type="thumbnail">
	    {% with species.get_first_image as img %}
		{% thumbnail img.image img.SIZES.thumbnail as im %}
			<Attribute name="src" value="{{ im.url }}" />
			<Attribute name="width" value="{{ im.x }}" />
			<Attribute name="height" value="{{ im.y }}" />
		{% endthumbnail %}
	    {% endwith %}
     </DataObject>
  </PageMap>
  -->
<link rel="stylesheet" href="{{ MEDIA_URL }}css_ext/elastislide.css" type="text/css">
<link rel="stylesheet" href="{{ MEDIA_URL }}css_ext/jquery.jqplot.css" type="text/css">
<link rel="stylesheet" href="{{ MEDIA_URL }}css_ext/jquery.tipTip.css" type="text/css">
<link rel="stylesheet" href="{{ MEDIA_URL }}css_ext/colorbox.css" type="text/css">
<link rel="stylesheet" href="{{ MEDIA_URL }}fs_map/style.css" type="text/css">
<link rel="stylesheet" href="{{ MEDIA_URL }}fs_chart/style.css" type="text/css">
<link rel="stylesheet" href="{{ MEDIA_URL }}data/style.css" type="text/css">
<link rel="stylesheet" href="{{ MEDIA_URL }}css/pnwmoths/jquery-ui-1.8.21.custom.css" type="text/css">
<link rel="stylesheet" href="{{ MEDIA_URL }}css_pages/factsheet.css" type="text/css">
{% endblock %}

{% block content %}
{% species_by_name current_page.get_title as species %}
<!-- wikipage start -->
<div class="row">
    <div class="col_12 last">
        <h2 style="display: inline; float: left;" class="fs_title"><em>{{ species.name }}</em> {% if species.authority %}{{ species.authority }}{% endif %}</h2>
        {% if species.noc_id %}<h3 class="fs_subtitle" style="float: right">{{ species.noc_id }}</h3>{% endif %}
    </div>
</div>
<div class="row">
    <div class="col_12 last">
        {% if species.common_name %}<h3 class="fs_title" style="float: left">{{ species.common_name }}</h3>{% endif %}
        {% if species.get_first_plate %}<h3 class="nocontent fs_subtitle" style="float: right"><a href="/photographic-plates/#plate{{ species.get_first_plate }}">View Photographic Plate</a></h3>{% endif %}
    </div>
</div>
<div id="fs_yui-g" class="row nocontent">
<div style="position: static" class="col_6">
    <div id="fs_images">
        <div class="all-images all-images-no-js">
            <div id="images">
                {% for species_image in species.get_ordered_images %}
                    {% if forloop.first %}
                        <div class="current-image">
                        {% thumbnail species_image.image species_image.SIZES.medium as im %}
                            <div id="old-image-factsheet" class="hidden"><a href="{{ species_image.image.url }}"><img src="{{ im.url }}" /></a></div>
                            <div id="zoomify-factsheet" class="hidden"></div>
                            <p id="slideshow-copyright">
                                    {{ species_image.specimen_details|safe }}
                                    {{ species_image.license_details|safe }}
                            </p>
                        {% endthumbnail %}
                        </div>
                        <div id="carousel-other-images" class="es-carousel-wrapper">
                        <div class="es-carousel">
                        <ul class="other-images">
                    {% endif %}
                    <li>
                        {% thumbnail species_image.image species_image.SIZES.medium as medium %}
                        {% thumbnail species_image.image species_image.SIZES.thumbnail as small %}
                            <a href="{{ species_image.image.url }}" title='{{ species_image.specimen_details }}{{ species_image.license_details }}&nbsp;' class="thumbnail">
                                <img src="{{ small.url }}" />
                            </a>
                            {% with species_image.zoomify_folder|safe as inline_species_image %}
                                {% ifequal inline_species_image "404" %}
                                    <span class="hidden inline-species-image missing_zoomify">{{ medium.url }}</span>
                                {% else %}
                                    <span class="hidden inline-species-image">/media/{{ inline_species_image }}</span>
                                {% endifequal %}
                            {% endwith %}
                        {% endthumbnail %}
                        {% endthumbnail %}
                    </li>
                    {% if forloop.last %}
                        </ul></div></div>
                    {% endif %}
                {% endfor %}
            </div>

        {% if species.similar.all or request.user.is_staff %}
            <div id="similar">
            <h3>
                Similar Species
                {% if request.user.is_staff and species %}
                    <span class="edit"><a href="{% url admin:species_species_change species.id %}" target="_new">edit</a></span>
                {% endif %}
            </h3>
            <div id="carousel-similarspecies-images" class="es-carousel-wrapper">
            <div class="es-carousel">
            <ul class="other-images">
            {% for similar_species in species.similar.all %}
                <li>
                    <a href="{% page_url similar_species.factsheet %}" target="_blank">
                    {% with similar_species.get_first_image as similar_image %}
                        {% thumbnail similar_image.image similar_image.SIZES.thumbnail as im %}
                        <img src="{{ im.url }}" title="{{ similar_image.title }}" />
                        {% endthumbnail %}
                    {% endwith %}
                    <em>{{ similar_species }}</em>
                    </a>
                </li>
            {% endfor %}
            </ul>
            </div>
            </div>
          </div>
      {% endif %}
      </div>
    </div>
</div>
<div style="position: static" class="col_6 last">
    <div id="map_phen_filter_col"> 
        <div id="googlemap" class="googlemap">
            <span class="data">"species-data"</span>
        </div>
        <div id="plot" class="chart tab">
            <span class="data">species-data</span>
            <span class="options"></span>
        </div>
        <div id="chartpseudotooltip"></div>
        <div id="factsheet-filters">
            <h4>Data Filters</h4>
            <select class="half" id="f-county" multiple="multiple">        
            </select>
            <select class="half" id="f-state" multiple="multiple">        
            </select>
            <select class="half" id="f-collection" multiple="multiple">        
            </select>
            <select class="half" id="f-record_type" multiple="multiple">        
            </select>
            <select class="third" id="f-year" multiple="multiple"></select>
            <select class="third" id="f-month" multiple="multiple"></select>
            <select class="third" id="f-day" multiple="multiple"></select>
            <div id="date-filter-1" class="whole" style="padding-top: 50px">
                    <div id="f-date"></div>
            </div>
            <h6 style="color: grey; margin-top: 0; margin-left: 30px">Date Range</h6>
            <div id="datefilterdialog">
            </div>
            <div class="whole" style="margin-top: 60px">
                <div id="f-elevation"></div>
            </div>
            <h6 style="color: grey; margin-top: 0; margin-left: 30px">Elevation (ft)</h6>
            <div class="third">
                <input id="f-reset" type="submit" value="Reset Filters" >
            </div>
            <div style="clear: both"></div>
        </div>
    </div>
</div>
</div>
<div class="row">
    <div class="col_12 last">
        <div id="fs_content">
            {% placeholder "factsheet" %}
        </div>
    </div>
</div>

<!-- data start -->
{% if species %}
    {% cache 0 js_data species.name %}
    <span class="dokuwiki-data nocontent" id="species-data">
    {{ species|get_records|safe }}
    </span>
    <span class="dokuwiki-data nocontent" id="state-data">
    {{ species|filters_json:"state__code"|safe }}
    </span>
    <span class="dokuwiki-data nocontent" id="county-data">
    {{ species|filters_json:"county"|safe }}
    </span>
    <span class="dokuwiki-data nocontent" id="collection-data">
    {{ species|filters_json:"collection__name"|safe }}
    </span>
    <span class="dokuwiki-data nocontent" id="record_type-data">
    {{ species|filters_json:"record_type"|safe }}
    </span>
    <span class="dokuwiki-data nocontent" id="year-data">
    {{ species|filters_json:"year"|safe }}
    </span>
    <span class="dokuwiki-data nocontent" id="month-data">
    {{ species|filters_json:"month"|safe }}
    </span>
    <span class="dokuwiki-data nocontent" id="day-data">
    {{ species|filters_json:"day"|safe }}
    </span>
    <span class="dokuwiki-data nocontent" id="range-data">
    {{ species|range_values|safe }}
    </span>
    {% endcache %}
{% endif %}
<!-- data stop -->
</div>
{% endblock %}
