{% extends "cms/base.html" %}
{% load cms_tags couchdb species_tags %}

{% block scripts %}
{{ block.super }}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
        type="text/javascript"></script>
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js/jquery.jcarousel.min.js"></script>
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js/jquery.jqplot.min.js"></script>
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js/jqplot.barRenderer.min.js"></script>
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js/jqplot.canvasTextRenderer.min.js"></script>
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js/jqplot.canvasAxisLabelRenderer.min.js"></script>
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js/jqplot.categoryAxisRenderer.min.js"></script>
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}colorbox/jquery.colorbox-min.js"></script>
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}slideshow/script.js"></script>
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}map/script.js"></script>
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}chart/script.js"></script>
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}data/script.js"></script>
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}similar_species/script.js"></script>

<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAACGFOAg3wAbbVTv66SFVQQxSYHLM1a-x6NXPXd7iQMKLtQ16USxRXBoJwXZQrS0JinK9yxAv9Gqry_g&sensor=false" type="text/javascript"></script>
<script src="http://gmaps-utility-library.googlecode.com/svn/trunk/markermanager/release/src/markermanager.js" type="text/javascript"></script>
{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery.jqplot.css" type="text/css">
<link rel="stylesheet" href="{{ MEDIA_URL }}colorbox/colorbox.css" type="text/css">
<link rel="stylesheet" href="{{ MEDIA_URL }}slideshow/style.css" type="text/css">
<link rel="stylesheet" href="{{ MEDIA_URL }}map/style.css" type="text/css">
<link rel="stylesheet" href="{{ MEDIA_URL }}chart/style.css" type="text/css">
<link rel="stylesheet" href="{{ MEDIA_URL }}data/style.css" type="text/css">
<link rel="stylesheet" href="{{ MEDIA_URL }}similar_species/style.css" type="text/css">
{% endblock %}

{% block content %}
<!-- wikipage start -->
<h1>{% page_attribute page_title %}</h1>

{% species_by_name current_page.get_title as species %}

<div class="factsheet yui-g">
    <div class="yui-u first all-images all-images-no-js">
        <div id="images">
        {% for image in species.speciesimage_set.all %}
            {% if forloop.first %}
                <div class="current-image">
                    <a href="/images/{{ image.name }}"><img src="/images/medium/{{ image.name }}" title="{{ image.title }}" /></a>
                </div>
                <ul class="other-images jcarousel-skin-tango">
            {% endif %}
            <li>
                <a href="/images/{{ image.name }}">
                    <img src="/images/thumbnail/{{ image.name }}" title="{{ image.title }}" />
                </a>
            </li>
            {% if forloop.last %}
                </ul>
            {% endif %}
        {% endfor %}
        </div>

        <div id="similar">
        <h2>
            Similar Species
        {% if request.user.is_staff %}
            <span class="edit"><a href="{% url cushion_view "pnwmoths" "moths" "by_similar_species" %}?reduce=false&key={{ species_name }}" target="_new">edit</a></span>
        {% endif %}
        </h2>

        <ul class="other-images jcarousel-skin-tango">
        {% for similar_species in species.similar.all %}
            <li>
                <img src="/images/thumbnail/{{ similar_species.get_first_image.name }}" /><br />
                <a href="{% page_id_url similar_species.name %}">{{ similar_species }}</a>
            </li>
        {% endfor %}
        </ul>
        </div>
    </div>
    <div class="yui-u">
        <div id="googlemap" class="googlemap">
            <span class="data">"species-data"</span>
            <div id="filters">
                <p class="right"><a href="" id="filters-close"><img src="http://maps.gstatic.com/intl/en_us/mapfiles/iw_close.gif" /></a></p>
                <p>
                    <form>
                        <input type="button" id="clear-filters" value="Clear filters" />
                        <input type="button" id="toggle-borders" value="Toggle borders" />
                    </form>
                </p>
            </div>
        </div>
        <div id="plot" class="chart tab">
            <span class="data">species-data</span>
            <span class="options"></span>
        </div>
    </div>
</div>

{% placeholder "factsheet" %}

<!-- wikipage stop -->

<!-- data start -->
<span class="dokuwiki-data" id="species-data">
{% couchdb /pnwmoths/_design/moths/_list/json_collection_doc/by_species?include_docs=true&key="%(key)s" key=current_page.get_title %}
</span>
<span class="dokuwiki-data" id="state-data">
{% couchdb /pnwmoths/_design/moths/_list/json_keys/states?group=true&reduce=true %}
</span>
<span class="dokuwiki-data" id="county-data">
{% couchdb /pnwmoths/_design/moths/_list/json_keys/counties?group=true&reduce=true %}
</span>
<span class="dokuwiki-data" id="collection-data">
{% couchdb /pnwmoths/_design/moths/_list/json_keys/by_collection?group=true&reduce=true %}
</span>
<!-- data stop -->
{% endblock %}
