{% extends "cms/base.html" %}
{% load cache cms_tags menu_tags species_tags %}

{% block scripts %}
{{ block.super }}
<!--
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
        type="text/javascript"></script>
-->
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}home/jquery.blueberry.js"></script>
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}data/script.js"></script>
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAACGFOAg3wAbbVTv66SFVQQxSYHLM1a-x6NXPXd7iQMKLtQ16USxRXBoJwXZQrS0JinK9yxAv9Gqry_g&sensor=false" type="text/javascript"></script>
<script src="http://gmaps-utility-library.googlecode.com/svn/trunk/markermanager/release/src/markermanager.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}home/markerlight.js" type="text/javascript"></script>
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}home/script.js"></script>
{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="{{ MEDIA_URL }}home/blueberry.css" type="text/css">
<link rel="stylesheet" href="{{ MEDIA_URL }}data/style.css" type="text/css">
<style type="text/css">
.googlemap img {
  max-width: none;
}
#googlemap {
    height: 363px;
    display: none;
    width: 98%;
    margin-bottom: 10px;
}
</style>
{% endblock %}

{% block breadcrumbs %}
&nbsp;
{% endblock %}

{% block content %}

	<div class="row top">
		<div class="twelvecol last">
			<div class="blueberry">
			  <ul class="slides" style="height: 306px; ">
				<li style="display: none; "><img src="{{ MEDIA_URL }}home/1.jpg" /></li>
				<li style="display: list-item; "><img src="{{ MEDIA_URL }}home/2.jpg"></li>
			  </ul>
			</div>		
		</div>
	</div>

	<div class="row">
		<div class="fourcol">
			<a href="/browse/"><div class="leftButton"><div class="lightButton">
				<h4>Browse Taxonomic List</h4>
				<span>Explore the levels of our taxonomic tree of over 1000 moth species!</span>
			</div></div></a>
		</div>
		<div class="fourcol">
			<a href="/image-plates/"><div style="padding: 0 0 0 0;"><div class="darkButton">
				<h4>Explore Image Plates</h4>
				<span>Browse our super-sized images comparing moth features and size!</span>
			</div></div></a>
		</div>
		<div class="fourcol last">
			<a href="/identify/"><div class="rightButton"><div class="lightButton">
				<h4>Identify a Moth</h4>
				<span>Try identifying a Pacific NorthWest moth with our interactive key!</span>
			</div></div></a>
		</div>
	</div>

	<div class="row bottom">
		<div id="featuredmoth" class="sixcol">
			<div>
				<h3>Featured Moth</h3>
				{% placeholder "featured_image" %}
			</div>
		</div>
		<div id="fullmap" class="sixcol last">
			<div>
				<h3>Our Data Points</h3>
				<div id="googlemap" class="googlemap"></div>
                <span class="dokuwiki-data" id="all-coords">
                {% cache 0 allcoords %}
                {% resource /data/api/allcoords/ format=json limit=0 %}
                {% endcache %}
                </span>
			</div>
		</div>
	</div>

{% endblock %}
