{% extends "cms/base.html" %}
{% block breadcrumbs %}
&nbsp;
{% endblock %}
{% block scripts %}
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/media/js_search/jquery.indextank.ize.js"></script>
        <script type="text/javascript" src="/media/js_search/jquery.indextank.autocomplete.js"></script>
        <script type="text/javascript" src="/media/js_search/querybuilder.js"></script>
        <script type="text/javascript" src="/media/js_search/jquery.indextank.ajaxsearch.js"></script>
        <script type="text/javascript" src="/media/js_search/jquery.indextank.renderer.js"></script>
        <script type="text/javascript" src="/media/js_search/jquery.indextank.instantsearch.js"></script>
        <script>
(function($){
	$.getQuery = function( query ) {
		query = query.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
		var expr = "[\\?&]"+query+"=([^&#]*)";
		var regex = new RegExp( expr );
		var results = regex.exec( window.location.href );
		if( results !== null ) {
			return results[1];
			return decodeURIComponent(results[1].replace(/\+/g, " "));
		} else {
			return "";
		}
	};
})(jQuery);
            jQuery(document).ready(function(){
				var $ = jQuery;
				$("#myform").indextank_Ize("http://tevavy.api.indexden.com", "pnwmoths");
				var userFormat = function(item) {
					var r = $("<div></div>").addClass("result").append( $("<a></a>").attr("href", "http://pnwmoths.biol.wwu.edu/"+eval(item.docid)).html(eval(item.title))).append($("<p></p>").html(eval("\""+item.snippet_text+"\"")));
					return r;
				};
                var renderer =  $("#results").indextank_Renderer({format: userFormat});
                $("#query").indextank_Autocomplete({fieldName: "title"}).indextank_AjaxSearch( {listeners: renderer}).indextank_InstantSearch();
				$("#query").val($.getQuery("q"));
				$("#query").submit();
            });
        </script>
{% endblock %}
{% block stylesheets %}
	{{ block.super }}
	<link rel="stylesheet" href="http://pnwmoths.biol.wwu.edu/media/css/pnwmoths/jquery-ui-1.8.21.custom.css" type="text/css">
{% endblock %}
{% block content %}
<h1 style="margin-top: 5px;">Search</h1>
<form id="myform" action="ignored.html">
    <input id="query" type="text"/>
</form>

<div id="results"></div>
{% endblock %}
