{% extends "cms/base.html" %}
{% block breadcrumbs %}
&nbsp;
{% endblock %}
{% block scripts %}

<script>
  (function() {
    var cx = '017156112814786239348:qfcdc7npqre';
    var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
  })();
</script>

{% endblock %}
{% block content %}
<h1 style="margin-top: 5px;">Search</h1>
<gcse:searchresults-only></gcse:searchresults-only> 
{% endblock %}
