body {
    font-family: Helvetica;
}

h1, h2, h3, h4, h5 {
    font-family: Georgia, Verdana;
}
h1 {
    font-size: 3em;
    line-height: 0.5;
    margin: 0.5em 0;
}
h2 {
    font-size: 2.25em;
    line-height: 0.67;
    margin: 0.67em 0;
}
h3 {
    font-size: 1.875em;
    line-height: 0.8;
    margin: 0.8em 0;
}
h4 {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1;
    margin: 1em 0;
}
h5 {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5;
    margin: 1.5em 0;
}

p, li {
    line-height: 1.5;
}
p {
    margin: 1.5em 0;
}
li {
    margin: 0.75em 0;
}
ol li {
    list-style-type: decimal;
}
ul li {
    list-style-type: inherit;
}
li li {
    margin-left: 1em;
}

a:hover {
    text-decoration: none;
}

strong, b, strong *, b * {
    font-weight: bold !important;
}
em, i, em *, i * {
    font-style: italic !important;
}
u, u *, .u {
    text-decoration: underline !important;
}
del {
    text-decoration: line-through;
}

#alphaindex hr {
    display: none;
}
#alphaindex li a {
    text-decoration: none;
}

#hd {
    background-color: #7CA600;
    height: 3em;
    margin-bottom: 0.5em;
}
#site-id {
    color: #FFFFFF;
    float: left;
    font-size: 1.5em;
    font-weight: bold;
    font-variant: small-caps;
    line-height: 1;
    margin-left: 1em;
    margin-top: 0.4em;
}
ol#navigation {
    float: right;
    margin-top: 1em;
}
ol#navigation li {
    float: left;
    font-size: 1em;
    line-height: 1em;
    list-style-type: none;
    margin: 0;
    margin-right: 1em;
}
ol#navigation li, ol#navigation a, ol#ft-navigation li, ol#ft-navigation a {
    color: #FFFFFF !important;
}
ol#navigation li#search {
    margin-top: -0.3em;
}

ol#breadcrumbs {
    margin-bottom: 2em;
}
ol#breadcrumbs li {
    display: inline;
    list-style-type: none;
}

.center {
    margin: 0 auto;
}

.left {
    float: left;
}

.clear {
    clear: both;
}

.factsheet .chart {
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    background-color: #F0F6F9;
    border: 1px solid #346F97;
    display: none;
    height: 14.9em;
    margin: 0 auto;
    width: 100%;
}

ol#other-images img {
    width: 140px;
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
    padding-bottom: 10px;
    padding-top: 10px;
    width: 290px;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
    height: 93px;
    width: 290px;
}
.jcarousel-skin-tango .jcarousel-item {
    height: 93px;
    margin: 0;
    width: 140px;
}
.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-right: 5px;
}

ol.image-list li {
    float: left;
    font-size: 1em;
    line-height: 1em;
    list-style-type: none;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    text-align: center;
}

#similar-species ol.image-list img {
    width: 230px;
}

#ft {
    background-color: #7CA600;
    color: #FFFFFF;
    height: 30px;
    margin-top: 0.5em;
}
ol#ft-navigation li {
    float: left;
    font-size: 1em;
    line-height: 1em;
    list-style-type: none;
    margin-left: 1em;
    margin-top: 0.5em;
}
#copyright {
    float: right;
    font-size: 1em;
    line-height: 1em;
    margin-right: 1em;
    margin-top: 0.5em;
}

/*Dokuwiki styles.*/

.bar-left {
    float: left;
}
.bar-left *, .bar-right * {
    display: inline;
}
.bar-right {
    float: right;
}
.clearer {
    clear: both;
}

/* existing wikipage */
div.dokuwiki a.wikilink1 {
  color: __existing__ !important;
}

/* not existing wikipage */
div.dokuwiki a.wikilink2 {
  color: __missing__ !important;
  text-decoration: none !important;
  border-bottom: dashed 1px __missing__ !important;
}

/* inline tables */
div.dokuwiki table.inline {
  background-color: __background__;
  border-spacing: 0px;
  border-collapse: collapse;
}

div.dokuwiki table.inline th {
  padding: 3px;
  border: 1px solid __border__;
  background-color: __background_alt__;
}

div.dokuwiki table.inline td {
  padding: 3px;
  border: 1px solid __border__;
}
