#breadcrumbs {
        margin-bottom: 10px !important;
}

#breadcrumbs li {
        position: relative;
    list-style: none;
    line-height: 24px;
    float: left;
	margin-top: 10px;
	margin-right: 10px;
}

#breadcrumbs li a {
    background-color: rgba(255, 255, 255, .5);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #303030;
    border-right: none;
    text-decoration: underline;
    padding-left: 8px;
	padding-right: 6px;
    /*Arrow left*/
    float: left;
    display: block;
    font-size: 85%;
}

#breadcrumbs li a.last {
    color: black;
    text-decoration: none;
}

#breadcrumbs li.first a {
    margin-left: 0px;
    /* rounded left */
}

#breadcrumbs li a:hover {
    text-decoration: none;
}

.crumb_no_arrow {
    float: left;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #FFFFFF;
	border: 1px solid #303030;
	border-left: none;
    /*Right no-js*/
    width: 5px;
}

.crumb_arrow {
	z-index: 999;
	border: 1px solid #303030;
	background: #FFF6AF no-repeat center center url(http://i.imgur.com/fLF0f.png);
    cursor: pointer;
    width:28px;
    /*background: url('arrow.png');*/
}

.crumb_arrow_down {
	background: #FA2 no-repeat center center url(http://i.imgur.com/fLF0f.png);
}

/*Mega Menu*/
.megamenu {
    display: none;
    clear: both;
	position: absolute;
    z-index: 998;
    top: 30px;
}
.megacontent {
    min-width: 175px;
	border: 3px solid #FA2;
    background-color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	max-width: 600px;
}

.megacontent ul {
    margin: 0 0 0 0 !important;
}

.megamenu ul li {
    width: 100%;
    border-bottom: 1px dotted #003F87;
	font-size: .9em;
	margin: 0 0 0 0 !important;
}

.megamenu ul li a {
     background: none !important;
    border: none !important;
     width: 100%;
     height: 100%;
	 margin: 0 0 0 0 !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
        font-size: 100% !important;
}
