{% extends "cms/base.html" %}

{% block title %}Something went wrong somewhere...{% endblock %}

{% block content %}
<h1>Something went wrong somewhere...</h1>

<p><strong>Don't worry: it's not you, it's us.</strong></p>

<p>We've been notified about the problem and will fix it as soon as we figure out what went wrong.</p>

<p>In the meanwhile, why not explore Wikipedia and check back in a few minutes:</p>

<iframe src="http://en.wikipedia.org" style="width: 100%; height: 500px;"></iframe>
{% endblock %}
