{% extends "cms/base.html" %}

{% block title %}Search{% endblock %}

{% block content %}
<div class="row top bottom">
<div class="twelvecol last">
    <h2>Search</h2>

    <form method="get" action="">
        <p>{{ form.q }} <input type="submit" value="Search"></p>
    </form>

    {% if query %}
        <h3>Results</h3>

        <ol>
        {% for result in page.object_list %}
            <li>
                <a href="{{ result.object.get_absolute_url }}">{{ result.object }}</a>
            </li>
        {% empty %}
            <li>No results found.</li>
        {% endfor %}
        </ol>

        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">&laquo; Previous</a>{% endif %}
                {% if page.has_previous and page.has_next %}|{% endif %}
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">Next &raquo;</a>{% endif %}
            </div>
        {% endif %}
    {% else %}
        {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}
</div>
</div>
{% endblock %}
