{% load menu_tags thumbnail species_tags browse_filters %}
{% for child in children %}
<div class="browse_item{% if child.is_leaf_node %} species{% endif%}">
  <div class="browse_heading">
    <h3 {% if child|navnode_is_species_or_genus %}class="browse_genus_species"{% endif %}>
        <a href="{{ child.get_absolute_url }}">{{ child.get_menu_title }}</a> ({{ child|navnode_species_count }})
    </h3>
  </div>
  <div style="clear: both; height: 0px;">&nbsp;</div>
  <div class="ajax"></div>
  <div class="browse_thumbs">
    {% imageset_by_navnode child as 4 subtree_images %}
    {% for species_image in subtree_images %}
        {% if child.is_leaf_node %}
            {% thumbnail species_image.image species_image.SIZES.medium as im %}
                <img src="{{ im.url }}" />
            {% endthumbnail %}
        {% else %}
            {% thumbnail species_image.image species_image.SIZES.thumbnail as im %}
                <img src="{{ im.url }}" />
            {% endthumbnail %}
        {% endif %}        
    {% endfor %} 
  </div>
</div>
{% endfor %}
