.browse_item {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px dotted blue;
    background-color: none;
    clear: both;
    width: 100%;
}

.species {
    margin-right: 15px;
    width: 45% !important;
    float: left;
    display: inline;
    clear: none !important;
}

.browse_item_hover {
    background-color: #F0F6F9 !important;
    margin-bottom: 10px !important;
    border-bottom: 1px solid blue !important;
}

.browse_heading h3 {
    float: left;
    margin-top: 0;
}

.browse_heading h3 a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid blue;
}

.toggle_item {
    float: right;
}

.species img{
    width: 100%;
}
