/**
 * Styles for the group of species images and similar species images.
 */

.all-images {
    margin-left: 10px;
}

/* Styles for users without javascript. */

.all-images-no-js {
    width: 100%!important;
}

.all-images-no-js #images {
    width: 100%;
}

.all-images-no-js #images .current-image {
    float: left;
}

.all-images-no-js #images .other-images {
    float: left;
    height: 250px;
    margin-left: 2em;
    margin-top: 2em;
    overflow: auto;
    text-align: left;
    width: 300px!important;
}

.ie7 #zoomify-factsheet-full img, .ie8 #zoomify-factsheet-full img {
  max-width: none;
}

.all-images-no-js #similar {
    clear: both;
}
.all-images-no-js #similar .other-images li {
    display: block;
    float: left;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-top: 1em;
    width: 140px;
}

.all-images-no-js li {
    display: inline;
    list-style-type: none;
}

.no-js {
    clear: both;
    margin-left: 1em;
}

#cboxClose {
    left: 0 !important;
    right: none !important;
}
.hidden {
    display: none;
}

#images, #similar {
    border: 2px solid black;
}
#similar {
    margin-top: 1.5em;
}
#similar h3 {
    margin: 0 0 0 0;
    padding-left: 0.5em;
    padding-top: 0.25em;
}
#slideshow-copyright {
    font-size: 0.8em;
    line-height: 1.4em;
    padding-left: 1em;
}

.fullscreen_copyright {
    position: absolute;
    bottom: 35px;
    right: 10px;
    padding: 3px;
    z-index: 99999999;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, .2);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, .2);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: rgb(243, 232, 186);
    background: rgba(243, 232, 186, .85);
}
.fs_title {
    margin-top: 10px;
    margin-left: 10px;
}
.fs_subtitle {
    margin: 0px 0px 0px 0px;
    float: right; margin-right: 10px; color: grey;
}
.padded {
    margin: 10px;
}
#zoomify-factsheet img {
    max-width: none;
}

#old-image-factsheet img {
    min-width: 100%;
}

#zoomify-factsheet { 
    width: 100%;
}

#ToolbarDisplay {
  margin-top: 20px !important;
}

#ViewerDisplay {
  position: absolute !important;
}

#zoomify-factsheet {
  position: relative;
  padding-bottom: 20px;
}

.es-carousel-wrapper img {
    margin-bottom: 0px;
}

#map_phen_filter_col {
    border: 2px solid black;
}

#map_phen_filter_col #googlemap {
    margin: 0.25em auto;
}

#fs_content {
    max-width: 50em;
    margin: 0 auto;
}

#fs_content p {
    margin-bottom: 2em;
}
#fs_content h2 {
    color: #e65d24;
    margin: 0 0 0 0 !important;
}

#fs_content h3, #fs_content h4, #fs_content h5 {
    color: black;
    font-style: italic;
    margin: 0 0 0 0 !important;
}
#fs_yui-g .last { margin-left: -10px\9; }
