#content {
  padding-left: 40px;
  max-width: 50em;
  color: black;
  min-height: 300px;
}
#content ol { list-style: decimal; }


#site_credits h1 {
  color: #A4AB78;
  font-weight: bold;
}
#site_credits ul {
  list-style: disc inside;
}


#faqLinks { list-style: none; }
#site_faqs h4 {
  color: #D15E25;
}
#site_faqs h4 a {
  font-size: 0.8em;
  font-weight: normal;
}

#site_faqs ol li img {
  margin-bottom: 0px;
}

#references p {
    margin-left: 2em;
    text-indent: -2em;
}

#glossary img {
    float: right;
    clear: left;
    margin-left: 0.5em;
}
dt {
    float: left;
    clear: right;
}
dd {
    margin-left: 2em;
    clear: left;
}
