{% extends "admin/change_form.html" %}
{% load i18n %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo;
     {% if has_change_permission %}<a href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo;
     {% trans "Import" %} {{ opts.verbose_name_plural }}
</div>
{% endif %}{% endblock %}

{% block content %}
<div id="content-main">
    <form method="post" action="" enctype="multipart/form-data" id="{{ opts.module_name }}_form">{% csrf_token %}
    {{ form.as_p }}
    <p><input type="submit" value="Import" /></p>
    </form>
</div>
{% endblock %}
